<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    body {
        background-color: rgb(234, 173, 183);
        text-align: justify;
    }
</style>
<body>
    <nav>
      <button class="btn"><a href="/quotes">Back to home page</a></button>
       <br />
        <form action="/quotes"method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Your Name</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
              <small id="emailHelp" class="form-text text-muted">You can use your nickname.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Quote OTD</label>
              <input type="text" name="quote" class="form-control" id="exampleInputPassword1" placeholder="your quote">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Image URL</label>
              <input type="url" name="img" class="form-control" id="exampleInputPassword1" placeholder="img url">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
           
        
            <button type="submit" class="btn btn-primary">Done</button>
        
          </form>
        <nav>
</body>
</html>